.weather-app-wrapper {
  max-width: 600px;
  margin: 30px auto;
}

.weather-app {
  padding: 20px;
  border: 1px solid black;
  border-radius: 7px;
}

.weather-overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 64px;
  width: 64px;
}
.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-family: "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 1;
}
.weather-temperature .units {
  position: relative;
  font-size: 16px;
  top: -12px;
}
h1 {
  color: rgb(135, 135, 135);
  font-family: "Times New Roman", Times, serif;
  font-size: 24px;
  font-weight: 100;
  line-height: 28.8px;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
  margin: 0;
  padding: 0;
  color: rgb(135, 135, 135);
  font-family: "Times New Roman", Times, serif;
  font-size: 16px;
  font-weight: 100;
  line-height: 19.2px;
  text-align: left;
}
